/* Already being imported. Any needed general style can be added here. */
body {
  height: 100%;
}

.underline {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 2px;
}

.underline-mobile {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2px;
}

.montserrat-toast-body {
  font-family: 'Montserrat', sans-serif;
}
